.head1{
  text-align: center;
  margin-bottom: -55px;
}

.head2{
  padding: 10px;
  margin-left: 30px;
}

.te{
  text-align: center;
  color: #f1f1f1;
  font-size: 2vw;
  padding: 10px;

}

/* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: bold;
    padding: 20px;
    line-height: 1;
    font-size: 2.1vw;
    /* rtl:remove */
    letter-spacing: -.05rem;
  }

  .lead{
    padding: 20px;
  }

  .font{
    font-size: 1.5vw;
    margin-left: 50px;
  }

  /* Phone start */
  
  /* The device with borders */
.smartphone {
    position: relative;
    width: 18.8vw;
    height: 640px;
    margin: auto;
    border: 16px black solid;
    border-top-width: 60px;
    border-bottom-width: 60px;
    border-radius: 36px;
  }
  
  /* The horizontal line on the top of the device */
  /* .smartphone:before {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 10px;
  } */
  
  /* The circle on the bottom of the device */
  .smartphone:after {
    content: '';
    display: block;
    width: 80px;
    height: 5px;
    position: absolute;
    left: 50%;
    bottom: 2px;
    transform: translate(-50%, -50%);
    background: rgb(0, 0, 0);
    border-radius: 10px;
  }
  
  /* The screen (or content) of the device */
  .smartphone .content {
    width: 30.1vw;
    height: 27.1vw;
    background-image: url("./evygQYj.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .safe-secure-box{
    height: 180px;
    width: 92vw;
  border-radius: 10px;
  background: linear-gradient(157.54deg, #C4D8F2 -1.25%, #E8E5EE 99.71%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 50px;
  }
  
  .safe-secure-box img{
  width: 120px;
  height: 90px;
  }

  .back{

    z-index: -1;
    width: 40vw;
    height: 500px;
    float: right;
    margin-top: 70px;
    border-radius: 2%;
  }


  /* Testimonials Start */

/* Slideshow container */
.slideshow-container {
  position: relative;
  /* width: 1000px; */
  background: linear-gradient(-13deg,#815dc7 ,#3981b5);
  /* margin-left: 400px; */
  align-items: center;
  margin-top: 40px;
}

/* Slides */
.mySlides {
  display: none;
  padding: 30px;
  text-align: center;
  font-size: 30px;
  
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(239, 236, 236, 0.8);
  color: rgb(0, 0, 0);
  border-radius: 50%;
}


/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #131313;
}

/* Add an italic font style to all quotes font-style: italic;*/
q {
  font-size: 45px;
  font-style: italic;
  font-weight: bold;
  background: repeating-linear-gradient(-40deg, rgb(84, 129, 250) 5.10%, rgb(228, 40, 249) 10.15%, rgb(212, 2, 104) 15.25%);
  -webkit-background-size: 500vw 500vw;
  background-size: 500vw 500vw;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: animate 9s linear infinite forwards;
}

@keyframes animate{
  0%{
      background-position-x: 0%;
  }
  100%{
      background-position-x: 500vw;
  }

}

/* Add a blue color to the author */
.author {
  font-size: 40px;
  font-style: italic;
  font-weight: 500;
  background: repeating-linear-gradient(-40deg, rgb(84, 129, 250) 5.10%, rgb(228, 40, 249) 10.15%, rgb(212, 2, 104) 15.25%);
  -webkit-background-size: 500vw 500vw;
  background-size: 500vw 500vw;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: animate 9s linear infinite forwards;
  }

  @keyframes animate{
      0%{
          background-position-x: 0%;
      }
      100%{
          background-position-x: 500vw;
      }
  
  }



/* profile img */
.wrap{
  min-height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  
  
}

.boxes{
  background: url("pexels-felix-mittermeier-956999.jpg");
  box-shadow: insert 0 50px rgb(20, 20, 20),
              insert 2px -15px 30px rgb(12, 12, 12)
              2px 2px 5px rgb(20, 20, 20);
  padding: 30px;
  border-radius: 50%;
  text-align: center;
  margin: 0 20px;
  transition: all .5s ease;
}

.boxes img{
  width: 17vw;
  border-radius: 50%;
  height: 18vw;
}

.boxes:hover{
  transform: scale(1.1);
}

.card-text{
font-size: 20px;
text-align: left;
}

.card-title{
  text-align: left;
}

.imgs{
border-radius: 50%;
width: 25vh;
}

.card{
padding: 20px;
}

.e{
  background-color: #f1f1f1;
  border-radius: 50%;
  opacity: 0.9;
}

/* Button */
.button {
  background-color:#0d6efd;
  border: none;
  color: rgb(251, 248, 248);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.button:hover{
  background-color: #5794f0;
}

/* Modal Style Start */




/*
      ####################################################
      M E D I A  Q U E R I E S
      ####################################################
      */
      
      /*
      ::::::::::::::::::::::::::::::::::::::::::::::::::::
      Bootstrap 4 breakpoints
      */
      
      /* 
      Extra small devices (portrait phones, less than 576px) 
      No media query since this is the default in Bootstrap because it is "mobile first"
      */
      
      
      /* Small devices (landscape phones, 480px and up) */
      @media (min-width: 480px) { 
        /* For header */
        .featurette-heading {
          font-weight: bold;
          padding: 20px;
          line-height: 1;
          font-size: 4vw;
          /* rtl:remove */
          letter-spacing: -.05rem;
        }


        /* For paragraph */
        .font{
          font-size: 3.2vw;
          margin-left: 50px;
        }

        /* Gradient back */
        .back{
          z-index: -1;
          width: 78vw;
          height: 300px;
          float: right;
          margin-top: 70px;
          border-radius: 2%;
        }

        /* Phone Box Start */
        .smartphone {
          position: relative;
          width: 45.9vw;
          height: 105vw;
          margin: auto;
          border: 12px black solid;
          border-top-width: 11px;
          border-bottom-width: 8px;
          border-radius: 29px;
        }

        /* Phone Content Start 1-3*/
        .smartphone .content1 {
          width: 40.7vw;
          height: 100vw;
          background-image: url("#");
          background-repeat: no-repeat;
          background-size: 16vh, center;
          background-position: center;
          border-radius: 20px;
        }

        /* Phone Content Start 2-3*/
        .smartphone .content2 {
          width: 40.8vw;
          height: 94.9vw;
          background-image: url("#");
          background-repeat: no-repeat;
          background-size: 16vh, center;
          background-position: center;
          border-radius: 20px;
        }

        /* Phone Content Start 3-3*/
        .smartphone .content3 {
          width: 40.8vw;
          height: 94.9vw;
          background-image: url("#");
          background-repeat: no-repeat;
          background-size: 16vh, center;
          background-position: center;
          border-radius: 20px;
        }

        .te{
          text-align: center;
          color: #f1f1f1;
          font-size: 4vw;
          padding: 10px;
        
        }

        // Safe and secure
        .safe-secure-box{
          height: 180px;
          width: 80vw;
        border-radius: 10px;
        background: linear-gradient(157.54deg, #C4D8F2 -1.25%, #E8E5EE 99.71%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 50px;
        }
        
        .safe-secure-box img{
        width: 150px;
        height: 90px;
        }
      
      }
      
      /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
      @media (min-width: 768px) {  
        /* For header */
        .featurette-heading {
          font-weight: bold;
          padding: 20px;
          line-height: 1;
          font-size: 2.8vw;
          /* rtl:remove */
          letter-spacing: -.05rem;
        }


        /* For paragraph */
        .font{
          font-size: 2.3vw;
          margin-left: 50px;
        }

        /* Gradient back */
        .back{
          z-index: -1;
          width: 40vw;
          height: 270px;
          float: right;
          margin-top: 50px;
          border-radius: 2%;
        }

        /* Phone Box Start */
        .smartphone {
          position: relative;
          width: 28.9vw;
          height: 62.9vw;
          margin: auto;
          border: 12px black solid;
          border-top-width: 11px;
          border-bottom-width: 8px;
          border-radius: 29px;
        }

        /* Phone Content Start 1-3*/
        .smartphone .content1 {
          width: 28.9vw;
          height: 62.9vw;
          background-image: url("#");
          background-repeat: no-repeat;
          background-size: 16vh, center;
          background-position: center;
          border-radius: 20px;
        }

        /* Phone Content Start 2-3*/
        .smartphone .content2 {
          width: 22.7vw;
          height: 48.9vw;
          background-image: url("#");
          background-repeat: no-repeat;
          background-size: 16vh, center;
          background-position: center;
          border-radius: 20px;
        }

        /* Phone Content Start 3-3*/
        .smartphone .content3 {
          width: 22.7vw;
          height: 49.9vw;
          background-image: url("#");
          background-repeat: no-repeat;
          background-size: 16vh, center;
          background-position: center;
          border-radius: 20px;
        }

        .te{
          text-align: center;
          color: #f1f1f1;
          font-size: 3vw;
          padding: 10px;
        
        }

     // Safe and secure
  .safe-secure-box{
    height: 180px;
    width: 87.7vw;
    border-radius: 10px;
   background: linear-gradient(157.54deg, #C4D8F2 -1.25%, #E8E5EE 99.71%);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-left: 50px;
   }
   
  .safe-secure-box img{
    width: 150px;
    height: 90px;
  }

      
      }
      
      /* Large devices (desktops, 960px and up) */
      @media (min-width: 960px) { 
        .featurette-heading {
          font-weight: bold;
          padding: 20px;
          line-height: 1;
          font-size: 2.3vw;
          /* rtl:remove */
          letter-spacing: -.05rem;
        }

        /* For paragraph */
        .font{
          font-size: 1.9vw;
          margin-left: 50px;
        }

        /* Gradient back */
        .back{
          z-index: -1;
          width: 42vw;
          height: 250px;
          float: right;
          margin-top: 70px;
          border-radius: 2%;
        }

        /* Phone Box Start */
        .smartphone {
          position: relative;
          width: 25vw;
          height: 45vw;
          margin: auto;
          border: 12px black solid;
          border-top-width: 11px;
          border-bottom-width: 8px;
          border-radius: 29px;
        }

        /* Phone Content Start 1-3*/
        .smartphone .content1 {
          width: 15.5vw;
          height: 34.9vw;
          background-image: url("#");
          background-repeat: no-repeat;
          background-size: 16vh, center;
          background-position: center;
          border-radius: 20px;
        }

        /* Phone Content Start 2-3*/
        .smartphone .content2 {
          width: 15.5vw;
          height: 34.9vw;
          background-image: url("#");
          background-repeat: no-repeat;
          background-size: 16vh, center;
          background-position: center;
          border-radius: 20px;
        }

        /* Phone Content Start 3-3*/
        .smartphone .content3 {
          width: 15.5vw;
          height: 34.9vw;
          background-image: url("#");
          background-repeat: no-repeat;
          background-size: 16vh, center;
          background-position: center;
          border-radius: 20px;
        }

        .te{
          text-align: center;
          color: #f1f1f1;
          font-size: 3vw;
          padding: 10px;
        
        }

        // Safe and secure
  .safe-secure-box{
    height: 180px;
    width: 89.9vw;
    border-radius: 10px;
   background: linear-gradient(157.54deg, #C4D8F2 -1.25%, #E8E5EE 99.71%);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-left: 50px;
   }
   
  .safe-secure-box img{
    width: 150px;
    height: 90px;
  }

      
      }
      

      
      /* Extra large devices (large desktops, 1240px and up) */
      @media (min-width: 1240px) {  
        .featurette-heading {
          font-weight: bold;
          padding: 20px;
          line-height: 1;
          font-size: 2vw;
          /* rtl:remove */
          letter-spacing: -.05rem;
        }

        /* For paragraph */
        .font{
          font-size: 1.5vw;
          margin-left: 50px;
        }

        /* Gradient back */
        .back{
          z-index: -1;
          width: 42vw;
          height: 320px;
          float: right;
          margin-top: 60px;
          border-radius: 2%;
        }

        /* Phone Box Start */
        .smartphone {
          position: relative;
          width: 17.9vw;
          height: 37vw;
          margin: auto;
          border: 12px black solid;
          border-top-width: 11px;
          border-bottom-width: 8px;
          border-radius: 29px;
        }

              /* Phone Content Start 1-3*/
        .smartphone .content1 {
          width: 15.9vw;
          height: 33.8vw;
          background-image: url("#");
          background-repeat: no-repeat;
          background-size: 16vh, center;
          background-position: center;
          border-radius: 20px;
        }

        /* Phone Content Start 2-3*/
        .smartphone .content2 {
          width: 15.9vw;
          height: 33.8vw;
          background-image: url("#");
          background-repeat: no-repeat;
          background-size: 16vh, center;
          background-position: center;
          border-radius: 20px;
        }

        /* Phone Content Start 3-3*/
        .smartphone .content3 {
          width: 15.9vw;
          height: 35.5vw;
          background-image: url("#");
          background-repeat: no-repeat;
          background-size: 16vh, center;
          background-position: center;
          border-radius: 20px;
        }

        .te{
          text-align: center;
          color: #f1f1f1;
          font-size: 2vw;
          padding: 10px;
        
        }

        .safe-secure-box{
          height: 180px;
          width: 93vw;
        border-radius: 10px;
        background: linear-gradient(157.54deg, #C4D8F2 -1.25%, #E8E5EE 99.71%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 40px;
        }
        
        .safe-secure-box img{
        width: 120px;
        height: 90px;
        }
  
        }

          
      

  
      
      /*
      ::::::::::::::::::::::::::::::::::::::::::::::::::::
      Custom media queries
      */
      
      /* Set width to make card deck cards 100% width */
      @media (min-width: 1380px) { 

        /* For laptop 1387px */
        /* max-width: 2073600px for 55in monitor*/

        .featurette-heading {
          font-weight: bold;
          padding: 20px;
          line-height: 1;
          font-size: 2vw; 
          /* rtl:remove*/
          letter-spacing: -.05rem;
        }

        /* For paragraph */
        .font{
          font-size: 1.5vw;
          margin-left: 50px;
        }

        /* Gradient back */
        .back{
          z-index: -1;
          width: 40vw;
          height: 355px;
          float: right;
          margin-top: 60px;
          border-radius: 2%;
          border: 2px solid black;
        }


        /* Phone Box Start */
        .smartphone {
          position: relative;
          width: 17.9vw;
          height: 37.3vw;
          margin: auto;
          border: 12px black solid;
          border-top-width: 11px;
          border-bottom-width: 8px;
          border-radius: 29px;
        }

        /* Phone Content Start 1-3*/
        .smartphone .content1 {
          width: 16vw;
          height: 36vw;
          background-image: url("#");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 39vh;
          border-radius: 20px;
        }

        /* Add buttons on the side */

        /* Phone Content Start 2-3*/
        .smartphone .content2 {
          width: 16vw;
          height: 36vw;
          background-image: url("#");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 340vh;
          border-radius: 20px;
        }

        /* Phone Content Start 3-3*/
        .smartphone .content3 {
          width: 16vw;
          height: 36vw;
          background-image: url("#");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 39vh;
          border-radius: 20px;
        }

        .safe-secure-box{
          height: 180px;
          width: 92vw;
        border-radius: 10px;
        background: linear-gradient(157.54deg, #C4D8F2 -1.25%, #E8E5EE 99.71%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 50px;
        }
        
        .safe-secure-box img{
        width: 120px;
        height: 90px;
        }
  
        }