/* Featurettes
------------------------- */

.featurette-divider2 {
    margin:-3rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading2 {
    font-weight: 300;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -.05rem;
  }
  .row.featurette2 {
    margin-bottom: -15%;
    .col-md-72 {
      padding: 15% 0;
    }
  }
  .navbarbg-box img {
    height: 50vw;
    width: 58.3vw;
    border-radius: 20px 0px;
    position: absolute;
    z-index: -2;
    right: 0;
  }



  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .here {
    margin-bottom: 50px;
      font-size: 25px;
      font-family: Sukhumvit Set;
      line-height: 1.4;
      margin-left: 50px;
      margin-top: -90px;
    }
  
    .featurette-heading2 {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading2 {
      margin-top: 7rem;
    }
  }

  .col-md-72 {
    flex: 0 0 auto;
    // width: 550px;
}

.navbarbg-box img{
 height: 45vw;
 width: 58.1vw;
 border-radius: 20px 0px;
 position: absolute;
 z-index: -2;
 right: 0;
 
}

/* nav css starts here */

.logo{
  
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.karotLogo-img{
    margin-top:18px;
    margin-left: 41px;
    border-radius: 16px;

}

.h3y{
    visibility: hidden;
    height: 10px;
    width: 10px;
font-size: 50px;
font-weight: 500;
line-height: 21px;
letter-spacing: 8.3px;
display: inline;
}

.pg{
height: 21px;
width: 218px;
margin-left: 140px;
margin-top: -45px ;
margin-bottom: 195px;
font-family: Sukhumvit Set;
font-size: 20px;
font-weight: 300;
line-height: 21px;
letter-spacing: 8.3px;
text-align: center;

}

        .button-box{
            margin-left: 20px;

        }

        .button1{
            margin-right: 20px;
            margin-left: 20px;
            margin-top: 20px;
            width: 235px;
            height: 72px;
            
            border-radius: 29px;
            background: linear-gradient(141.16deg, #2383C9 7.97%, #5A1E70 138.18%);
            font-family: Raleway;
            font-size: 1.4vw;
            font-weight: 600;
            line-height: 42px;
            letter-spacing: 0.081em;
            text-align: center;
            color:#ffffff;
            cursor: pointer;

        }

        .button2{

            width: 235px;
            height: 72px;
            padding: 13px 0;
            border-radius: 29px;

            font-family: 'Raleway';
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            line-height: 150%;
            
            letter-spacing: 0.081em;
            background-color: #ffffff;
            
            border:3px solid rgba(35, 131, 201, 1);

            color: linear-gradient(141.16deg, #112736 7.97%, #AE47D2 138.18%);
            cursor: pointer;         
}
/* banner css here */
 .banner img{
    width: 100%;
    margin-top: 150px;
 }

        /* Media queries */

              /* Small devices (landscape phones, 480px and up) */
      @media (min-width: 480px) {  
    
        .here {
          margin-bottom: 50px;
            font-size: 4.5vw;
            font-family: Sukhumvit Set;
            line-height: 1.4;
            margin-left: 20px;
          }

      .heading2{
        margin-top: -100px;
        margin-left: 20px;
      }

          .button-box{
            margin-left: 5px;

        }

        .button1{
            margin-right: 20px;
            margin-left: 20px;
            margin-top: 20px;
            width: 235px;
            height: 72px;
            
            border-radius: 29px;
            background: linear-gradient(141.16deg, #2383C9 7.97%, #5A1E70 138.18%);
            font-family: Raleway;
            font-size: 3.4vw;
            font-weight: 600;
            line-height: 42px;
            letter-spacing: 0.081em;
            text-align: center;
            color:#ffffff;
            cursor: pointer;

        }

        .button2{

          width: 235px;
          height: 72px;
          padding: 13px 0;
            border-radius: 29px;

            font-family: 'Raleway';
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            line-height: 150%;
            
            letter-spacing: 0.081em;
            background-color: #ffffff;
            
            border:3px solid rgba(35, 131, 201, 1);

            color: linear-gradient(141.16deg, #112736 7.97%, #AE47D2 138.18%);
            cursor: pointer;         
}

/* banner css here */
.banner img{
  width: 100%;
  height: 32px;
  margin-top: 500px;
}

.navbarbg-box img{
  height: 100vw;
  width: 100vw;
  border-radius: 20px 0px;
  position: absolute;
  z-index: -2;
  right: 0;
 }

    }
    
    /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
    @media (min-width: 768px) {  
    
      .here {
        margin-bottom: 50px;
          font-size: 3.1vw;
          font-family: Sukhumvit Set;
          line-height: 1.4;
          margin-left: 150px;
          margin-top: 20px;
        }

        .heading2{
          margin-top: -100px;
          margin-left: 150px;
        }

        .col-md-72 {
          flex: 0 0 auto;
          width: 650px;
      }

      .logo{
  
        display: flex;
        justify-content:flex-start;
        align-items: center;
    }
    
    .karotLogo-img{
        visibility: hidden;
        margin-top:18px;
        margin-left: 240px;
        border-radius: 16px;
    
    }
  // Saving smart
  .pg{
    height: 21px;
    width: 218px;
    margin-left: 340px;
    margin-top: -45px ;
    margin-bottom: 195px;
    font-family: Sukhumvit Set;
    font-size: 20px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 8.3px;
    text-align: center;
    
    }

        .button-box{
          margin-left: 152px;

      }

      .button1{
          margin-right: 20px;
          margin-left: 20px;
          margin-top: 20px;
          width: 235px;
          height: 72px;
          
          border-radius: 29px;
          background: linear-gradient(141.16deg, #2383C9 7.97%, #5A1E70 138.18%);
          font-family: Raleway;
          font-size: 2.4vw;
          font-weight: 600;
          line-height: 42px;
          letter-spacing: 0.081em;
          text-align: center;
          color:#ffffff;
          cursor: pointer;

      }

      .button2{
        width: 235px;
        height: 72px;
        padding: 13px 0;
          border-radius: 29px;

          font-family: 'Raleway';
          font-style: normal;
          font-weight: 600;
          font-size: 28px;
          line-height: 150%;
          
          letter-spacing: 0.081em;
          background-color: #ffffff;
          
          border:3px solid rgba(35, 131, 201, 1);

          color: linear-gradient(141.16deg, #112736 7.97%, #AE47D2 138.18%);
          cursor: pointer;         
}

/* banner css here */
.banner img{
width: 100%;
height: 42px;
margin-top: 780px;
margin-bottom: 20px;
}

.navbarbg-box img{
height: 100vw;
width: 100vw;
border-radius: 20px 0px;
position: absolute;
z-index: -2;
right: 0;
}

    }
    
    /* Large devices (desktops, 960px and up) */
    @media (min-width: 960px) { 
    
      .here {
        margin-bottom: 50px;
          font-size: 3.1vw;
          font-family: Sukhumvit Set;
          line-height: 1.4;
          margin-left: 270px;
          margin-top: -1px;
        }

        .heading2{
          margin-top: -100px;
          margin-left: 270px;
        }

        .col-md-72 {
          flex: 0 0 auto;
          width: 750px;
      }

      .logo{
  
        display: flex;
        justify-content:flex-start;
        align-items: center;
    }
    
    .karotLogo-img{
        margin-top:18px;
        margin-left: 270px;
        border-radius: 16px;
    
    }
  // Saving smart
  .pg{
    height: 21px;
    width: 218px;
    margin-left: 370px;
    margin-top: -45px ;
    margin-bottom: 195px;
    font-family: Sukhumvit Set;
    font-size: 20px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 8.3px;
    text-align: center;
    
    }

        .button-box{
          margin-left: 240px;

      }

      .button1{
          margin-right: 20px;
          margin-left: 20px;
          margin-top: 20px;
          width: 235px;
          height: 72px;
          
          border-radius: 29px;
          background: linear-gradient(141.16deg, #2383C9 7.97%, #5A1E70 138.18%);
          font-family: Raleway;
          font-size: 2.4vw;
          font-weight: 600;
          line-height: 42px;
          letter-spacing: 0.081em;
          text-align: center;
          color:#ffffff;
          cursor: pointer;

      }

      .button2{

        width: 235px;
        height: 72px;
        padding: 13px 0;
          border-radius: 29px;
          font-family: 'Raleway';
          font-style: normal;
          font-weight: 600;
          font-size: 28px;
          line-height: 150%;
          
          letter-spacing: 0.081em;
          background-color: #ffffff;
          
          border:3px solid rgba(35, 131, 201, 1);

          color: linear-gradient(141.16deg, #112736 7.97%, #AE47D2 138.18%);
          cursor: pointer;         
}

/* banner css here */
.banner img{
width: 100%;
height: 52px;
margin-top: 955px;
margin-bottom: 20px;
}

.navbarbg-box img{
height: 100vw;
width: 100vw;
border-radius: 20px 0px;
position: absolute;
z-index: -2;
right: 0;
}

    }
    
    /* Extra large devices (large desktops, 1240px and up) */
    @media (min-width: 1240px) {  
      .here {
        margin-bottom: 50px;
          font-size: 1.8vw;
          font-family: Sukhumvit Set;
          line-height: 1.4;
          margin-left: 40px;
          margin-top: -1px;
        }

        .heading2{
          margin-top: -100px;
          margin-left: 40px;
        }

        .col-md-72 {
          flex: 0 0 auto;
          width: 550px;
      }

      .logo{
  
        display: flex;
        justify-content:flex-start;
        align-items: center;
    }
    
    .karotLogo-img{
        margin-top:18px;
        margin-left: 42px;
        border-radius: 16px;
    
    }
  // Saving smart
  .pg{
    height: 21px;
    width: 218px;
    margin-left: 142px;
    margin-top: -45px ;
    margin-bottom: 195px;
    font-family: Sukhumvit Set;
    font-size: 20px;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 8.3px;
    text-align: center;
    
    }

        .button-box{
          margin-left: 10px;

      }

      .button1{
          margin-right: 20px;
          margin-left: 20px;
          margin-top: 50px;
          width: 235px;
          height: 72px;
          
          border-radius: 29px;
          background: linear-gradient(141.16deg, #2383C9 7.97%, #5A1E70 138.18%);
          font-family: Raleway;
          font-size: 1.5vw;
          font-weight: 600;
          line-height: 42px;
          letter-spacing: 0.081em;
          text-align: center;
          color:#ffffff;
          cursor: pointer;

      }

      .button2{

        width: 235px;
        height: 72px;
        padding: 13px 0;
          border-radius: 29px;

          font-family: 'Raleway';
          font-style: normal;
          font-weight: 600;
          font-size: 28px;
          line-height: 150%;
          
          letter-spacing: 0.081em;
          
          border:3px solid rgba(35, 131, 201, 1);

          color: linear-gradient(141.16deg, #112736 7.97%, #AE47D2 138.18%);
          cursor: pointer;         
}

/* banner css here */
.banner img{
width: 100%;
height: 59px;
margin-top: 310px;
margin-bottom: 20px;
}

.navbarbg-box img{
height: 55.3vw;
width: 58.3vw;
border-radius: 20px 0px;
position: absolute;
z-index: -2;
right: 0;
}

    }

        