 /* nav css starts here */
.pu{
    margin-left: 390px;
    margin-top: 20px;
    
}


.logo{
  
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
.karotLogo-img{
    margin-top:18px;
    margin-left: 41px;
    border-radius: 16px;

}
.logo-text-box{
    margin-left: 41px;
    padding-top:20px;
}

.logo-text-box h1{
    height: 21px;
    width: 190px;

    border-radius: nullpx;


/* font-family: Sukhumvit Set; */
font-size: 50px;
font-weight: 500;
line-height: 21px;
letter-spacing: 8.3px;
text-align: left;


}

.logo-text-box p{
height: 21px;
width: 218px;
margin-top:20px;
border-radius: nullpx;
font-family: Sukhumvit Set;
font-size: 20px;
font-weight: 300;
line-height: 21px;
letter-spacing: 8.3px;
text-align: center;

}
.logo-text-box a{
    text-decoration: none;
    color:#000000;
}


nav ul{
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
   position:relative;
   
   
}
nav ul li{
    list-style-type: none;
    margin-right: 30px;
    margin-bottom: 10px;
    
    height: 21px;
    font-family: Sarabun;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    color:#ffffff;
    text-align: center;

}

.getApp{
    height: 35px;
    width: 154px;
   
    font-family: Sarabun;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 6px;
    text-align: center;

    border-radius: 12px;
    background: #016eea;
    color:#ffffff;
    display: flex;
    justify-content: center;
    align-items: center;


}

nav ul a{
    text-decoration: none;
    z-index: 1;
   
}

        /* nav css ends here */

        
        
        /* hero css starts here */
        .hero-wrapper{
           display: flex;




        }
        .hero-content-box{
            width: 628px;
           
           display: flex;
           flex-direction: column;


        }

        .hero-content-box h1{
            height: 65px;
            width: 458px;
           
            margin-top: 5px;
            margin-left: 50px;
            border-radius: nullpx;
           

            font-family: Arial;
            font-size: 2.3vw;
            font-weight: 400;
            line-height: 55px;
            letter-spacing: 0em;
            text-align: left;


        }
        .hero-content-box p{
            
            height: 84px;
            width: 478px;
            
            margin-left:48px;
            margin-right: 104px;
            border-radius: nullpx;

            font-family: Arial;
            font-size: 1.8vw;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0em;
            text-align: left;



        }


        .button-box{
            margin:56px 46px 0px 30px;

        }

        .button1{
            margin-right: 30px;
            height: 72px;
            width: 200px;
            
            border-radius: 29px;
            background: linear-gradient(141.16deg, #2383C9 7.97%, #5A1E70 138.18%);
            font-family: Raleway;
            font-size: 1.4vw;
            font-weight: 600;
            line-height: 42px;
            letter-spacing: 0.081em;
            text-align: center;
            color:#ffffff;
            cursor: pointer;




        }

        .button2{

            height: 72px;
            width: 200px;
            left: 0px;
            top: 5px;
            border-radius: 29px;

            font-family: Raleway;
            font-size: 1.4vw;
            font-weight: 600;
            line-height: 42px;
            letter-spacing: 0.081em;
            text-align: center;
            background-color: #ffffff;
            
            border:1px solid rgba(35, 131, 201, 1);

            color: linear-gradient(141.16deg, #112736 7.97%, #AE47D2 138.18%);
            cursor: pointer;

            



        }
        .navbarbg-box{
           
           
           }

        .navbarbg-box img{
            height: 590px;
            width:53vw;
          
            border-radius: 20px 0 0 20px;
            position: absolute;
            top: 32px;
}

        

       

/* banner css here */

.banner{
   
height: 85px;
width: 100%;
left: 0px;
margin-top: 150px;
border-radius: 0px;
background: #9794CC;
margin-bottom: 30px;

}

.banner h1{
    margin-left: 30px;
}

.rating-stars{
display: inline-block;
margin-left: 100px;
margin-top: 10px;
}

        /* hero css ends here */

      


        /* Media queries */

        /* header */


        /* hero section media queries starts here :1st breakpoint */
        @media (max-width:480px){

            // drop down css
            .dropbtn {
                background-color: #ffffff;
                color: rgb(25, 126, 235);
                padding: 16px;
                font-size: 25px;
                border: none;
                cursor: pointer;
              }
              
              .dropbtn:hover, .dropbtn:focus {
                background-color: #ffffff;
              }
              
              .dropdown {
                float: left;
                position: relative;
                display: inline-block;
                margin-left: 20px;
              }
              
              .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f1f1f1;
                min-width: 155px;
                overflow: auto;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                // right: 0;
                background: transparent;
                line-height: 0;
                z-index: 999;
                
                
              }
              
              .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            //    text-align: center;
              }
              
              .dropdown a:hover {background-color: #ddd;}
              
              .show {display: block;}

            // nav media 

            nav{
    
   
            }
            .logo{
              
                display: flex;
                justify-content:flex-start;
                align-items: center;
                flex-direction: column;
                margin-right: 125px;
            }
            .karotLogo-img{
                margin-top:18px;
                margin-left: 41px;
                border-radius: 16px;
            
            }
            .logo-text-box{
                margin-left: 41px;
                padding-top:20px;
            }
            
            .logo-text-box h1{
                height: 21px;
                width: 190px;
            
                border-radius: nullpx;
            
            
            /* font-family: Sukhumvit Set; */
            font-size: 67px;
            font-weight: 500;
            line-height: 21px;
            letter-spacing: 8.3px;
            text-align: left;
            
            
            }
            
            .logo-text-box p{
            height: 21px;
            width: 218px;
            margin-top:20px;
            border-radius: nullpx;
            font-family: Sukhumvit Set;
            font-size: 20px;
            font-weight: 300;
            line-height: 21px;
            letter-spacing: 8.3px;
            text-align: center;
            
            }
            .logo-text-box a{
                text-decoration: none;
                color:#000000;
            }
            
         
           
          
           .hero-wrapper{
            min-height:1070px;
            width: 100%;
            display:flex;
           flex-direction: column;
           margin-top:30px;

           }
        
        
        .hero-content-box{
            width:100%;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            }

            .hero-content-box h1{
                margin:10px;
                height: 65px;
                width: 458px;
               
                margin-top: 5px;
                margin-left: 56px;
                border-radius: nullpx;
               
    
                font-family: Arial;
                font-size: 8vw;
                font-weight: 400;
                line-height: 55px;
                letter-spacing: 0em;
                text-align: left;
            }

            .hero-content-box p{
                          
            height: 84px;
            width: 400px;
            
            margin-left:0px;
            margin-right: 0px;
            border-radius: nullpx;

            font-family: Arial;
            font-size: 5vw;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0em;
            text-align: left;

                
            }
            
            .button-box{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            
            .button1{
                margin:5px;
                height: 72px;
                width: 200px;
                
                border-radius: 29px;
                background: linear-gradient(141.16deg, #2383C9 7.97%, #5A1E70 138.18%);
                font-family: Raleway;
                font-size: 4.5vw;
                font-weight: 600;
                line-height: 42px;
                letter-spacing: 0.081em;
                text-align: center;
                color:#ffffff;
                cursor: pointer;

            }

            .button2{
                margin:5px;
                height: 72px;
                width: 200px;
                left: 0px;
                top: 5px;
                border-radius: 29px;
    
                font-family: Raleway;
                font-size: 4.5vw;
                font-weight: 600;
                line-height: 42px;
                letter-spacing: 0.081em;
                text-align: center;
                background-color: #ffffff;
                
                border:1px solid rgba(35, 131, 201, 1);
    
                color: linear-gradient(141.16deg, #112736 7.97%, #AE47D2 138.18%);
                cursor: pointer;
            }
        
        
        .navbarbg-box{
            width:100%;

            
           
        }

        .navbarbg-box img{
            width:475px;
            height: 747px;
            margin-top:250px;
           
            border-radius: 20px 0 0 20px;
            position: absolute;
            top: 630px;
            left:5px;
}
       

.banner{
    height: 50px;
    width: 100%;
    left: 0px;
    margin-top: 150px;
    border-radius: 0px;
    background: #9794CC;
    margin-bottom: 40px;

 
}

  .banner h1{
   text-align: left;
    padding:8px;
    font-size: 5.5vw;

  }    
  
  .rating-stars{
    display: inline-block;
    margin-left: 200px;
    margin-top: 500px;

    }


}
        
        
        
        
        
        @media(max-width:768px){
           
            // dropdown menu
            .dropbtn {
                background-color: #ffffff;
                color: rgb(25, 126, 235);
               
                padding: 16px;
                font-size: 25px;
                border: none;
                cursor: pointer;
               
              }
              
              .dropbtn:hover, .dropbtn:focus {
                background-color: #ffffff;
                z-index: 1;
              }
              
              .dropdown {
                float: left;
                position: relative;
                display: inline-block;
                
              }
              
              .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f1f1f1;
                min-width: 155px;
                overflow: auto;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                // right: 0;
                line-height: 0;
                z-index:1;
              }
              
              .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: center;
              }
              
              .dropdown a:hover {background-color: #ddd;}
              
              .show {display: block;}
          
               // nav media 

            //    nav{
    
   
            // }
            .logo{
              
                display: flex;
                justify-content:flex-start;
                align-items: center;
               
            }
            .karotLogo-img{
                margin-top:18px;
                margin-left: 41px;
                border-radius: 16px;
            
            }
            .logo-text-box{
                margin-left: 41px;
                padding-top:20px;
            }
            
            .logo-text-box h1{
                height: 5px;
                width: 190px;
            
                border-radius: nullpx;
            
            
            /* font-family: Sukhumvit Set; */
            font-size: 4.9vw;
            font-weight: 500;
            line-height: 21px;
            letter-spacing: 8.8px;
            text-align: center;
            
            
            }
            
            .logo-text-box p{
            height: 21px;
            width: 218px;
            margin-top:20px;
            border-radius: nullpx;
            font-family: Sukhumvit Set;
            font-size: 20px;
            font-weight: 300;
            line-height: 21px;
            letter-spacing: 8.3px;
            text-align: center;
            
            }
            .logo-text-box a{
                text-decoration: none;
                color:#000000;
            }
            
            
            
            nav ul{
                display: flex;
                justify-content:flex-end;
                align-items: flex-end;
               position:relative;
                bottom:140px;
               
               
            }
            nav ul li{
                list-style-type: none;
                margin-right: 30px;
                margin-bottom: 10px;
                
                height: 21px;
                font-family: Sarabun;
                font-size: 18px;
                font-weight: 700;
                line-height: 21px;
                color:#ffffff;
                text-align: center;
                display: none;
            
            }
            
            .getApp{
                height: 35px;
                width: 154px;
               
                font-family: Sarabun;
                font-size: 18px;
                font-weight: 500;
                line-height: 21px;
                letter-spacing: 6px;
                text-align: center;
            
                border-radius: 12px;
                background: #016eea;
                color:#ffffff;
                display: flex;
                justify-content: center;
                align-items: center;
                display: none;
                
            
            
            }

          
          
            .hero-wrapper{
            min-height:1100px;
            width: 100%;
            display:flex;
           flex-direction: column;
           margin-top:30px;

           }
        
        
        .hero-content-box{
            width:100%;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            }

            .hero-content-box h1{
                margin:5px;
                height: 75px;
                width: 458px;
               
                margin-top: 5px;
                margin-left: 60px;
                border-radius: nullpx;
               
    
                font-family: Arial;
                font-size: 4.5vw;
                font-weight: 400;
                line-height: 55px;
                letter-spacing: 0em;
                text-align: left;
            }

            .hero-content-box p{
                          
            height: 84px;
            width: 400px;
            
            margin-left:0px;
            margin-right: 0px;
            border-radius: nullpx;

            font-family: Arial;
            font-size: 3.1vw;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0em;
            text-align: left;

                
            }
            
            .button-box{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            
            .button1{
                margin:5px;
                height: 72px;
                width: 200px;
                
                border-radius: 29px;
                background: linear-gradient(141.16deg, #2383C9 7.97%, #5A1E70 138.18%);
                font-family: Raleway;
                font-size: 3vw;
                font-weight: 600;
                line-height: 42px;
                letter-spacing: 0.081em;
                text-align: center;
                color:#ffffff;
                cursor: pointer;
            }

            .button2{
                margin:5px;
                height: 72px;
                width: 200px;
                left: 0px;
                top: 5px;
                border-radius: 29px;
    
                font-family: Raleway;
                font-size: 3vw;
                font-weight: 600;
                line-height: 42px;
                letter-spacing: 0.081em;
                text-align: center;
                background-color: #ffffff;
                
                border:1px solid rgba(35, 131, 201, 1);
    
                color: linear-gradient(141.16deg, #112736 7.97%, #AE47D2 138.18%);
                cursor: pointer;
            }
        
        
        .navbarbg-box{
            width:100%;

            
           
        }

        .navbarbg-box img{
            width:97.3%;
            height: 800px;
           
            border-radius: 20px 0 0 20px;
            position: absolute;
            top: 630px;
            left:5px;
}
       

.banner{
    height: 50px;
    width: 103%;
    left: 0px;
    margin-top: 155px;
    border-radius: 0px;
    background: #9794CC;
    margin-bottom: 40px;

 
}

  .banner h1{
    padding:8px;
    font-size: 3.5vw;
  }    
  
  .rating-stars{
    display: inline-block;
    margin-right: 80px;
    float: right;
    margin-top: -45px;
    
    }     

       
        }

        @media (max-width:960px){
            //960px

// drop down css
.dropbtn {
    background-color: #ffffff;
    color: rgb(25, 126, 235);
    padding: 16px;
    font-size: 25px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #ffffff;
  }
  
  .dropdown {
    float: left;
    position: relative;
    display: inline-block;
    margin-left: 20px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 155px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    // right: 0;
    // background: transparent;
    line-height: 0;
    z-index: -5px;
    
    
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
//    text-align: center;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}
           
            .logo{
              
                display: flex;
                justify-content:flex-start;
                align-items: center;
            }
            .karotLogo-img{
                margin-top:18px;
                margin-left: 41px;
                border-radius: 16px;
            
            }
            .logo-text-box{
                margin-left: 41px;
                padding-top:20px;
            }
            
            .logo-text-box h1{
                height: 10px;
                width: 190px;
            
                border-radius: nullpx;
            
            
            /* font-family: Sukhumvit Set; */
            font-size: 4vw;
            font-weight: 500;
            line-height: 21px;
            letter-spacing: 8.3px;
            text-align: center;
            
            
            }
            
            .logo-text-box p{
            height: 21px;
            width: 218px;
            margin-top:20px;
            border-radius: nullpx;
            font-family: Sukhumvit Set;
            font-size: 20px;
            font-weight: 300;
            line-height: 21px;
            letter-spacing: 8.3px;
            text-align: center;
            
            }
            .logo-text-box a{
                text-decoration: none;
                color:#000000;
            }
            
            
            
            nav ul{
                display: flex;
                justify-content:flex-end;
                align-items: flex-end;
               position:relative;
               bottom: 140px;
               
               
            }
            nav ul li{
                list-style-type: none;
                margin-right: 30px;
                margin-bottom: 10px;
                
                height: 33px;
                font-family: Sarabun;
                font-size: 18px;
                font-weight: 700;
                line-height: 21px;
                color:#1c85b5;
                text-align: center;
                margin: 5px;
                // display: none;
            
            }
            
            .getApp{
                height: 35px;
                width: 154px;
               
                font-family: Sarabun;
                font-size: 18px;
                font-weight: 500;
                line-height: 21px;
                letter-spacing: 6px;
                text-align: center;
            
                border-radius: 12px;
                background: #016eea;
                color:#ffffff;
                display: flex;
                justify-content: center;
                align-items: center;
                // display: none;
            
            
            }

       
            .hero-wrapper{
            min-height:1020px;
            width: 100%;
            display:flex;
           flex-direction: column;
           margin-top: 10px;
           

           }
        
        
        .hero-content-box{
            width:100%;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            }

            .hero-content-box h1{
                margin:5px;
                height: 70px;
                width: 458px;
               
                margin-top: 5px;
                margin-left: 60px;
                border-radius: nullpx;
               
    
                font-family: Arial;
                font-size: 3.1vw;
                font-weight: 400;
                line-height: 55px;
                letter-spacing: 0em;
                text-align: left;
            }

            .hero-content-box p{
                          
            height: 70px;
            width: 400px;
            
            margin-left:0px;
            margin-right: 0px;
            border-radius: nullpx;

            font-family: Arial;
            font-size: 2vw;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0em;
            text-align: left;
            }

                

            
            .button-box{
                display: flex;
                /* flex-direction: column; */
                justify-content: center;
                align-items: center;
            }
            
            .button1{
                margin:5px;
            }

            .button2{
                margin:5px;
            }
        
        
        .navbarbg-box{
            width:100%;

            
           
        }

        .navbarbg-box img{
            width:100%;
            height: 747px;
           
            border-radius: 20px 0 0 20px;
            position: absolute;
            top: 530px;
            left:20px;
}
       

.banner{
    height: 108px;
    width: 100%;
    left: 0px;
    margin-top: 155px;
    border-radius: 0px;
    background: #9794CC;
    margin-bottom: 40px;

 
}

  .banner h1{
    margin:0px;
    padding:8px;
  }      

       
       
        }


        @media (min-width:961px){

            .dropdown{
                display: none;
            }

              // nav media 

            //   nav{
    
   
            // }
            .logo{
              
                display: flex;
                justify-content:flex-start;
                align-items: center;
            }
            .karotLogo-img{
                margin-top:18px;
                margin-left: 41px;
                border-radius: 16px;
            
            }
            .logo-text-box{
                margin-left: 41px;
                padding-top:20px;
            }
            
            .logo-text-box h1{
                height: 21px;
                width: 190px;
            
                border-radius: nullpx;
            
            
            /* font-family: Sukhumvit Set; */
            font-size: 67px;
            font-weight: 500;
            line-height: 21px;
            letter-spacing: 8.3px;
            text-align: left;
            
            
            }
            
            .logo-text-box p{
            height: 21px;
            width: 218px;
            margin-top:20px;
            border-radius: nullpx;
            font-family: Sukhumvit Set;
            font-size: 20px;
            font-weight: 300;
            line-height: 21px;
            letter-spacing: 8.3px;
            text-align: center;
            
            }
            .logo-text-box a{
                text-decoration: none;
                color:#000000;
            }
            
            
            
            nav ul{
                display: flex;
                justify-content:flex-end;
                align-items: flex-end;
               position:relative;
                bottom:40px;
               
               
            }
            nav ul li{
                list-style-type: none;
                margin-right: 30px;
                margin-bottom: 10px;
                
                height: 21px;
                font-family: Sarabun;
                font-size: 18px;
                font-weight: 700;
                line-height: 21px;
                color:#ffffff;
                text-align: center;
                // display: none;
                z-index: 1;
            
            }
            
            .getApp{
                height: 35px;
                width: 154px;
               
                font-family: Sarabun;
                font-size: 18px;
                font-weight: 500;
                line-height: 21px;
                letter-spacing: 6px;
                text-align: center;
            
                border-radius: 12px;
                background: #016eea;
                color:#ffffff;
                display: flex;
                justify-content: center;
                align-items: center;
                // display: none;
            
            
            }
            //nav ul a{
                // text-decoration: none;
                // z-index: -1;
               
           // }
            
            
        }

        @media (min-width:961px){

            .dropdown{
                display: none;
            }

              // nav media 

            //   nav{
    
   
            // }
            .logo{
              
                display: flex;
                justify-content:flex-start;
                align-items: center;
            }
            .karotLogo-img{
                margin-top:18px;
                margin-left: 41px;
                border-radius: 16px;
            
            }
            .logo-text-box{
                margin-left: 41px;
                padding-top:20px;
            }
            
            .logo-text-box h1{
                height: 21px;
                width: 190px;
            
                border-radius: nullpx;
            
            
            /* font-family: Sukhumvit Set; */
            font-size: 67px;
            font-weight: 500;
            line-height: 21px;
            letter-spacing: 8.3px;
            text-align: left;
            
            
            }
            
            .logo-text-box p{
            height: 21px;
            width: 218px;
            margin-top:20px;
            border-radius: nullpx;
            font-family: Sukhumvit Set;
            font-size: 20px;
            font-weight: 300;
            line-height: 21px;
            letter-spacing: 8.3px;
            text-align: center;
            
            }
            .logo-text-box a{
                text-decoration: none;
                color:#000000;
            }
            
            
            
            nav ul{
                display: flex;
                justify-content:flex-end;
                align-items: flex-end;
               position:relative;
                
               
               
            }
            nav ul li{
                list-style-type: none;
                margin-right: 30px;
                margin-bottom: 10px;
                
                height: 21px;
                font-family: Sarabun;
                font-size: 18px;
                font-weight: 700;
                line-height: 21px;
                color:#ffffff;
                text-align: center;
                // display: none;
                z-index: 1;
                bottom:140px;
            }
            
            .getApp{
                height: 35px;
                width: 154px;
               
                font-family: Sarabun;
                font-size: 18px;
                font-weight: 500;
                line-height: 21px;
                letter-spacing: 6px;
                text-align: center;
            
                border-radius: 12px;
                background: #016eea;
                color:#ffffff;
                display: flex;
                justify-content: center;
                align-items: center;
                // display: none;
            
            
            }
            nav ul a{
                text-decoration: none;
                z-index: -1;
               
           }
            
            
        }
        
      

        /* hero section media queries ends here */